.main_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: lightgoldenrodyellow;
}

.navbar h2{
    font-size: 30px;
    margin-left: 12px;
    margin-top: 5px;
}

.searchbar input{
    margin-top: 30px;
    width: 600px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid black;
}

.pokemon_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.pokemon{
    width: 150px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.pokemon img{
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
}

.pokemon h3{
    text-transform: capitalize;
    margin-top: 30px;
}

@media (max-width: 800px) {
    .searchbar input {
        width: 300px;
    }
}